<section class="b-advantages">
	<div class="b-container">
		<div class="b-row">
			<div class="b-col_md_3 b-col_xs_6 ">
				<figure class="b-advantages__item">
					<div class="b-advantages__item-icon">
						<i class="b-icon b-icon__search"></i>
					</div>
					<figcaption class="b-advantages__item-data">
						<div class="b-advantages__item-title i-bold">Бесплатно</div>
						<div class="b-advantages__item-text">поможем выбрать продукт</div>
					</figcaption>
				</figure>
			</div>
			<div class="b-col_md_3 b-col_xs_6">
				<figure class="b-advantages__item">
					<div class="b-advantages__item-icon">
						<i class="b-icon b-icon__study"></i>
					</div>
					<figcaption class="b-advantages__item-data">
						<div class="b-advantages__item-title i-bold">Бесплатно</div>
						<div class="b-advantages__item-text">установим <br> и&nbsp;обучим</div>
					</figcaption>
				</figure>
			</div>
			<div class="b-col_md_3 b-col_xs_6">
				<figure class="b-advantages__item">
					<div class="b-advantages__item-icon">
						<i class="b-icon b-icon__delivery"></i>
					</div>
					<figcaption class="b-advantages__item-data">
						<div class="b-advantages__item-title i-bold">1 день</div>
						<div class="b-advantages__item-text">время доставки продукта</div>
					</figcaption>
				</figure>
			</div>
			<div class="b-col_md_3 b-col_xs_6">
				<figure class="b-advantages__item">
					<div class="b-advantages__item-icon">
						<i class="b-icon b-icon__pistons"></i>
					</div>
					<figcaption class="b-advantages__item-data">
						<div class="b-advantages__item-title i-bold">3 месяца</div>
						<div class="b-advantages__item-text">техподдержки в&nbsp;подарок</div>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>