<section class="b-form b-form_yellow">
	<div class="b-container">
		<div class="b-row">
			<div class="b-col_md_8 b-col_md_offset_2">
				<p class="b-form__title i-bold i-text_center">Планируете внедрять 1С:Бухгалтерия в своей компании?</p>
				<p class="b-form__text i-text_center i-mb_20">Обратитесь, и мы рассчитаем трудозатраты в течение 10 минут</p>
				<p class="b-form__text i-text_center i-mb_20 b-form__text_result">Ваша заявка принята. Спасибо!</p>
				<form action="" class="b-form__data">
					<div class="b-row">
						<div class="b-col_md_6">
							<input type="tel" class="b-form__control j-tel i-mb_15" required placeholder="Телефон*">
							<input type="hidden" name="reqid" value="Получить расчет трудозатрат">
						</div>
						<div class="b-col_md_6"><button type="submit" class="b-btn b-btn_block j-submit">Получить расчет трудозатрат</button></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>