{%- set items = [
{
	"img": "franch1.png",
	"mod": false,
	"title": "Продажа <br>Программ 1C",
},
{
	"img": "franch2.png",
	"img2": "franch2_moby.png",
	"mod": "wide",
	"title": "Внедрение 1C",
},
{
	"img": "franch3.png",
	"mod": "tall",
	"title": "Сопровождение 1C",
},
{
	"img": "franch4.png",
	"mod": "tall",
	"title": "Отраслевая <br>автоматизация",
},
{
	"img": "franch5.png",
	"mod": false,
	"title": "Торговое <br>оборудование",
},

{
	"img": "franch6.png",
	"mod": false,
	"title": "Создание сайтов <br> на 1С Bitrix",
},

{
	"img": "franch7.png",
	"mod": false,
	"title": "Облачный 1С",
},

{
	"img": "franch8.png",
	"mod": "wide",
	"title": "Аренда программистов 1С",
}

] -%}
<div class="b-franch__section">
	<div class="b-container">
		<div class="i-text_center">	
		<h2 class="b-h1 i-mb_10">1С Развитие - франчайзи 1С</h2>
		<p class="i-mb_40">Мы предоставляем следующие услуги для наших клиентов</p>
		</div>	
		<div class="b-franch__list" >
		{%- for item in items  %}
			<div class="b-franch__list-item b-franch__list-item--{{ loop.index }} {%- if item.mod %} b-franch__list-item--{{ item.mod }}{% endif -%}">
				<a class="b-franch" href="#">
					<div class="b-franch__imgbox">
						<img class="b-franch__img" src="{{ base.STATIC_URL }}img/franchaizing/{{ item.img }}" alt="">
						<img class="b-franch__img" src="{{ base.STATIC_URL }}img/franchaizing/{{ item.img }}" alt="">
					</div>
					<div class="b-franch__title">{{ item.title|safe }}</div>
				</a>
			</div>
		{% endfor -%}
		</div>
	</div>
</div>