<header class="b-header">
	<div class="b-hamburger j-menuToggle"><i class="b-icon b-icon__menu"></i></div>
	<div class="b-container">
		<div class="b-row">
			<div class="b-col_sm_6">
				<a class="b-header__logo" href="/">
					<img src="{{ base.STATIC_URL }}img/logo.png" alt="{{ base.company }}">
				</a>
			</div>
			<div class="b-col_sm_6">
				<div class="b-header__phone">
					<p class="b-header__phone-number i-bold"><span class="i-orange">8 (343)</span> 266-456-4</p>
					<p class="b-header__phone-info">Ждем звонка с&nbsp;9:00 до&nbsp;21:00</p>
				</div>
			</div>
		</div>
	</div>
</header>



<!-- <span class="b-header__logo-name i-bold"><ins  class="i-orange">1С</ins> РАЗВИТИЕ</span>
<span class="b-header__logo-info">Продажа. Внедрение. Развитие</span>
<span class="b-logoTreangle">
	<i class="b-logoTreangle_1"></i>
	<i class="b-logoTreangle_2"></i>
	<i class="b-logoTreangle_3"></i>
</span> -->