<div class="b-form b-form_yellow">
	<p class="b-form__title i-bold i-text_center">Отличный выбор!</p>
	<p class="b-form__text i-text_center i-mb_20">Для оформления заказа оставьте свой номер телефона. Приветливый консультант свяжется с вами в течении 10 минут!</p>
	<p class="b-form__text i-text_center i-mb_20 b-form__text_result">Ваша заявка принята. Спасибо!</p>
	<form action="" class="b-form__data">
		<div>
			<input type="tel" class="b-form__control j-tel i-mb_15" required placeholder="Телефон*">
			<input type="hidden" name="reqid" value="1С: Бухгалтерия КОРП">
		</div>
		<div ><button type="submit" class="b-btn b-btn_block j-submit">Отправить заявку</button></div>
	</form>
</div>