<section class="b-promoproducts">
	<div class="b-container">
		<h2 class="b-h1 i-white i-text_center">Какая редакция решит задачи Вашего бизнеса?</h2>
		<div class="b-row">
			<!-- item -->
			<div class="b-col_md_4 b-col_sm_6">
				<div class="b-promoproduct">
					<div class="b-promoproduct__header i-bold">
						1С: Бухгалтерия <br> Базовая
					</div>
					<div class="b-promoproduct__content">
						<div class="b-promoproduct__content-price">
							3 300 руб.
						</div>
						<ul class="b-promoproduct__content-list">
							<li>Готовое решение для ведения бухгалтерского и&nbsp;налогового учета</li>
							<li>Подходит для небольших организаций с одним бухгалтером</li>
							<li>Не требует платных обновлений</li>
							<li>Позволяет вести учет нескольких организаций в отдельных базах</li>
						</ul>
					</div>
					<div class="b-promoproduct__footer">
						<a href="#" data-target="#modalForm1" class="b-btn b-btn_block b-btn_orange j-modal">Заказать</a>
					</div>
				</div>
			</div>

			<!-- item -->
			<div class="b-col_md_4 b-col_sm_6">
				<div class="b-promoproduct b-promoproduct_selected">
					<div class="b-promoproduct__header i-bold">
						1С: Бухгалтерия <br> ПРОФ
					</div>
					<div class="b-promoproduct__content">
						<div class="b-promoproduct__content-price">
							от 13 000 руб.
						</div>
						<ul class="b-promoproduct__content-list">
							<li>Идеально подходит для многопользовательской работы</li>
							<li>Позволяет доработать программу под бизнес-процессы вашего предприятия</li>
							<li>Дает возможность вести учет по разным организациям в одной информационной базе</li>
						</ul>
					</div>
					<div class="b-promoproduct__footer">
						<a href="#"  data-target="#modalForm2" class="b-btn b-btn_block b-btn_yellow j-modal">Заказать</a>
					</div>
				</div>
			</div>

			<div class="i-clearfix i-visible_sm"></div>

			<!-- item -->
			<div class="b-col_md_4 b-col_sm_6 ">
				<div class="b-promoproduct">
					<div class="b-promoproduct__header i-bold">
						1С: Бухгалтерия <br> КОРП
					</div>
					<div class="b-promoproduct__content">
						<div class="b-promoproduct__content-price">
							от 13 000 руб.
						</div>
						<p class="i-text_center i-mb_10"><img src="{{ base.STATIC_URL }}img/brilliant.png" alt=""></p>
						<ul class="b-promoproduct__content-list">
							<li>Создано для крупных предприятий с&nbsp;распределенной филиальной сетью или дочерними структурами</li>
							<li>Позволяет вести учет в&nbsp;обособленных подразделениях</li>
						</ul>
					</div>
					<div class="b-promoproduct__footer">
						<a href="#" data-target="#modalForm2"  class="b-btn b-btn_block b-btn_orange j-modal">Заказать</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>