.b-icon__1s {
  display: inline-block;
  background-position: -177px -104px;
  width: 44px;
  height: 42px;
  content: "";
}


.b-icon__case {
  display: inline-block;
  background-position: -66px -60px;
  width: 45px;
  height: 41px;
  content: "";
}


.b-icon__check {
  display: inline-block;
  background-position: -138px -144px;
  width: 13px;
  height: 10px;
  content: "";
}


.b-icon__close {
  display: inline-block;
  background-position: -138px -117px;
  width: 17px;
  height: 17px;
  content: "";
}


.b-icon__culc {
  display: inline-block;
  background-position: -177px -50px;
  width: 44px;
  height: 44px;
  content: "";
}


.b-icon__delivery {
  display: inline-block;
  background-position: 0px 0px;
  width: 56px;
  height: 44px;
  content: "";
}


.b-icon__folder {
  display: inline-block;
  background-position: -123px 0px;
  width: 44px;
  height: 53px;
  content: "";
}


.b-icon__menu {
  display: inline-block;
  background-position: 0px -166px;
  width: 30px;
  height: 21px;
  content: "";
}


.b-icon__pistons {
  display: inline-block;
  background-position: -66px 0px;
  width: 47px;
  height: 50px;
  content: "";
}


.b-icon__present {
  display: inline-block;
  background-position: -123px -63px;
  width: 41px;
  height: 42px;
  content: "";
}


.b-icon__search {
  display: inline-block;
  background-position: 0px -54px;
  width: 46px;
  height: 53px;
  content: "";
}


.b-icon__secure {
  display: inline-block;
  background-position: -177px 0px;
  width: 52px;
  height: 40px;
  content: "";
}


.b-icon__study {
  display: inline-block;
  background-position: -69px -117px;
  width: 59px;
  height: 39px;
  content: "";
}


.b-icon__study2 {
  display: inline-block;
  background-position: 0px -117px;
  width: 59px;
  height: 39px;
  content: "";
}


