.b-icon__1s:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: -177px -104px;
  width: 44px;
  height: 42px;
}


.b-icon__case:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: -66px -60px;
  width: 45px;
  height: 41px;
}


.b-icon__check:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: -123px -94px;
  width: 13px;
  height: 10px;
}


.b-icon__culc:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: -177px -50px;
  width: 44px;
  height: 44px;
}


.b-icon__delivery:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 56px;
  height: 44px;
}


.b-icon__folder:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: -123px 0px;
  width: 44px;
  height: 53px;
}


.b-icon__menu:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: -123px -63px;
  width: 30px;
  height: 21px;
}


.b-icon__pistons:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: -66px 0px;
  width: 47px;
  height: 50px;
}


.b-icon__search:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: 0px -54px;
  width: 46px;
  height: 53px;
}


.b-icon__secure:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: -177px 0px;
  width: 52px;
  height: 40px;
}


.b-icon__study:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: -69px -117px;
  width: 59px;
  height: 39px;
}


.b-icon__study2:before {
  display: block;
  background-image: url(../../img/sprite.png);
  background-position: 0px -117px;
  width: 59px;
  height: 39px;
}


