.b-icon__check {
  display: inline-block;
  background-position: -51px -31px;
  width: 13px;
  height: 10px;
  content: "";
}
.b-icon__close {
  display: inline-block;
  background-position: 0px -52px;
  width: 17px;
  height: 17px;
  content: "";
}
.b-icon__menu {
  display: inline-block;
  background-position: -51px 0px;
  width: 30px;
  height: 21px;
  content: "";
}
.b-icon__present {
  display: inline-block;
  background-position: 0px 0px;
  width: 41px;
  height: 42px;
  content: "";
}
